<p id="notice"><%= notice %></p>

<h1>Notes</h1>
</table>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">User</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.text %></td>
        <td><%= note.user %></td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to 'Show', note ,class:"btn btn-outline-success" %>
            <%= link_to 'Edit', edit_note_path(note),class:"btn btn-outline-warning mr-1 ml-1" %>
            <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-danger"%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path, class: "btn btn-success" %>
