<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user %>
</p>

<%= link_to 'Edit', edit_note_path(@note),class:"btn btn-outline-warning mr-1 ml-1" %> 
<%= link_to 'Back', notes_path, class: "btn btn-dark m-2" %>

